<div class="sidebar-page">
	<ul>
		<li><a role="button" href="#/home">introduction</a></li>
		<!-- 申明-->
		<li><a role="button" href="#/declare">Declare</a></li>

		<!-- 基本用法 -->
		<li><a role="button" href="#/base">Base</a></li>
		
		<!-- controller -->
		<li><a role="button" href="#/controller">Controller</a></li>

		<!--api service -->
		<li><a role="button" href="#/serviceApi">Api Service</a></li>
		<!--custom service -->
		<li><a role="button" href="#/serviceCustom">Custom Service</a></li>

		<!--directive -->
		<li><a role="button" href="#/directive">Directive</a></li>

		<!-- others -->
		<li><a role="button" href="#/others">Others</a></li>

	</ul>
</div>